<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    <title>{% if title %}{{ title }} – {% endif %}{{ site.title }}{% if not title %} – {{ site.subtitle }}{% endif %}</title>
</head>

<body>
    <div id="header">
        <h1 id="title"><a href="{{ get_url() }}">{{ site.title }}</a></h1>
        <h2 id="subtitle">{{ site.subtitle }}</h2>
        
        <div id="nav">
            <a href="{{ get_url() }}">words<span class="nav-title">my ramblings</span></a>
            <a href="{{ get_url('code/') }}">projects<span class="nav-title">what I do</span></a>
        </div>
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        <h1 id="footer-label">about</h1>
        <p>My name is Austin Clark, for the most part I'm a music educator, and this is where I ramble and write about my professional life. This site is powered by a static site generator called <a href="http://mynt.uhnomoli.com/">mynt</a> written by <a href="https://github.com/Anomareh">Anomareh</a> and there's also a <a href="{{ get_url('feed.xml') }}">feed</a>. In my spare time, I code (including the backend of this website). If you want to get in touch, you can find me on my coding repository <a href="https://github.com/Artex-files">GitHub</a>, <a href="https://twitter.com/_austinclark_">Twitter</a>, and also through my preferred method of contact, <a href="mailto:Clarka94@gmail.com">email</a>.</p>
    </div>
</body>
</html>
